body{
    background-color: aqua;
}


h1{
    color: green;
    background: #000;
}

.hobis{
    color: rgb(12, 240, 99);
    background: #000;
}

#la{
    color: blue;
    background: rgb(226, 80, 80);
}

button{
    border: solid 5px yellow;
    background: blue;
    color: white;
}

input{
    padding: 5px;
    background-color: yellow;
    color: black;
}

button{
    padding: 5px;
    border: 3px solid;
    border-radius: 10px;
    background-color: greenyellow;
    color: aqua;
}

.nav{
    background-color: rgb(95, 36, 36);
    height: 60px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

li{
    display: inline-flex;
   
   margin-left: 50px;

   
    height: 60px;
    
}
a{
   display: block; 
  font-size: 20px; 
 
  color: white;
  padding:  20px;
  
 
}

.nav li:hover{
    background-color: red;
    
}

@media screen {
    
}