*{
  padding: 0;
  margin: 0;
}

.bigbox{
    background-color: rgb(5, 1, 1);
     border: solid 5px green;
     max-width: 700px;
     height: 400px;
     display: flex;
     flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 25vh;

 
}

.smallbox{
    background-color: rgb(255, 255, 255);
    border: solid 5px red;
    height: 150px;
    width: 200px;
  
}

.grey{
    margin-left: 5%;
    background-color: grey;
    border-radius: 0 20%;
    margin-top: 6.5%;
}

.blue{
    background-color: blue;
    border-radius:20% 0;
    margin-top: 6.5%;
}

.yellow{
    margin-left: 6%;
    background-color: yellow;
    border-radius: 20% 0;
    margin-bottom: 5%;

}

.green{
    background-color: green;
    border-radius: 0 20%;
    margin-bottom: 5%;
}



/* background photos */

.bigbgimg{
    background: linear-gradient(
        45deg,
        #cc95c0 25%,
        #dbd4b4 0,
        #dbd4b4 50%,
        #cc95c0 0,
        #cc95c0 75%,
        #dbd4b4 0
      );
      background-size: 10px 10px;

   
   
}

.bgimg{
    background-image: url(./img/img_services.jpg);
    width: 80%;
    height: 500px;
    background-repeat: none;
    margin-left: 10%;
    padding-top: 10%;


}

.bgimg h1{
    background: black;
    color: white;
    text-align: center;
    
}

.bgimg p{
    margin:0 5%;
    font-size: 2rem;
}